body {
  background: darkcyan;
}

.App {
  text-align: center;
  padding: 50px;
  background-color: darkcyan;
  font-family: sans-serif;
  width: 100%;
}

.App-header {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 200px;
  margin-bottom: 45px;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  color: lightseagreen;
}

input {
  border-radius: 5px;
  border-color: black;
  padding: 10px;
  padding-right: 200px;
}

input:focus {
  outline: none;
  border-color: #04A1BF;
  box-shadow: 0 0 5px #9ecaed;
}

.input-field .add-button {
  border-radius: 5px;
  padding: 10px 15px;
  color: #04A1BF;
  background-color: #025F70;
  border-color: black;
  transition: all 0.75s ease;
  font-weight: normal
}

.input-field .add-button:hover {
  background-color: #02798F;
  color: #FFCD5D;
}

.input-field .clear-button {
  border-radius: 5px;
  padding: 10px 15px;
  color: palevioletred;
  background-color: #025F70;
  border-color: black;
  transition: all 0.75s ease;
  font-weight: normal
}

.input-field .clear-button:hover {
  background-color: #02798F;
  color: #FFCD5D;
}

.todolist-main .clear-all-button {
  float: right;
  color: red;
}

.todolist-main button {
  border-radius: 5px;
  padding: 10px 15px;
  color: steelblue;
  background-color: #025F70;
  border-color: black;
  transition: all 0.75s ease;
  font-weight: normal
}

.todolist-main button:hover {
  background-color: #02798F;
  color: #FFCD5D;
}

.todolist-main .details-button {
  color: paleturquoise;
}

.todolist-main .message-displayed {
  padding-right: 5px;
}

.todolist-main {
  padding: 10px;
  font-size: 16px;
  list-style: none;
  padding-left: 0;
  text-align: left;
  overflow: hidden;
  width: 100%
}

.todolist-main li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
  background: #4EB9CD;
  transition: all 0.75s;
  word-wrap: break-word;
  max-width: initial;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 30px;
  background: #FFE9EC;
  color: black;
  text-align: center;
  overflow: auto;
}

.popup-inner .footer button {
  right: 0;
  bottom: 0;
  margin: 15px;
}

.popup-inner .footer button:hover {
  background-color: #02798F;
  color: #FFCD5D;
}

.popup-inner .footer .close-details-button {
  color: tomato;
}

.popup-inner .footer .save-button {
  color: palegreen;
}

.popup-inner hr {
  background-color: #ffbbc8;
  height: 0.5px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
}

.buttons-area {
  display: inline-flex;
}

.popup-inner input {
  width: 80%;
  padding-right: 0;
}

.popup-inner input:focus {
  outline: none;
  border-color: #ffbbc8;
  box-shadow: 0 0 5px navajowhite;
}

.popup-inner .footer h5 {
  color: lightcoral;
}

.popup-inner .time-details {
  color: lightcoral;
  text-align: right;
  position: relative;
  margin-left: 4em;
  margin-right: 4em;
}

.popup-inner .time-details .updated-at {
  text-align: right;
}

.popup-inner .time-details .created-at {
  left: 0;
  position: absolute;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: oldlace;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

